<form class="form-horizontal" name="form" ng-if="item">
    <div class="modal-header">
        <h3 ng-if="item.id">Таблица маршрутизации {{item.name}}</h3>
        <h3 ng-if="!item.id">Создание таблицы маршрутизации</h3>
    </div>
    <div class="modal-body">

        <ul class="nav nav-tabs">
            <li class="active"><a href="#route_table_{{item.id}}" data-toggle="tab">Таблица маршрутизации</a></li>
            <li><a href="#route_route_rules_{{item.id}}" data-toggle="tab">Правила</a></li>
        </ul>

        <br />

        <div class="tab-content">
            <div class="tab-pane active" id="route_table_{{item.id}}">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Название</label>
                    <div class="col-sm-10">
                        <input class="form-control" placeholder="Название" ng-model="item.name" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Доступен на хабе</label>
                    <div class="col-sm-10">
                        <div class="btn-group" ng-click="item.sw_shared = !item.sw_shared">
                            <button type="button" class="btn btn-sm {{item.sw_shared ? 'btn-success active' : 'btn-default'}}">Да</button>
                            <button type="button" class="btn btn-sm {{!item.sw_shared ? 'btn-primary active' : 'btn-default'}}">Нет</button>
                        </div>
                    </div>
                </div>

                <table class="table table-striped" style="font-size: smaller; font-weight: bold;">
                    <thead>
                        <tr>
                            <th></th>
                            <th>А-номер</th>
                            <th>B-номер</th>
                            <th>C-номер</th>
                            <th>CPC</th>
                            <th>Header Rule</th>
                            <th>Outcome</th>
                            <th>Блок</th>
                            <th>Вкл A || C</th>
                            <th></th>
                            <th>Удалить</th>
                        </tr>
                    </thead>
                    <tbody ui-sortable="sortableOptions" ng-model="item.routes">
                        <tr style="border-bottom: lightgrey solid 2px;border-top: lightgrey solid 2px;" ng-repeat="line in item.routes">
                            <td width="1%" style="cursor: ns-resize; padding-bottom: 3px;padding-top: 3px;vertical-align: middle;">
                                <span class="badge">{{$index + 1}}</span>
                            </td>
                            <td style="padding-bottom: 3px;padding-top: 3px;padding-right: 1px;padding-left: 1px;" width="11%">
                                <select-box disabled="{{line.is_locked}}" list="number" model="line.a_number_id" param="1" default="Любой номер"></select-box>
                            </td>
                            <td style="padding-bottom: 3px;padding-top: 3px;padding-right: 1px;padding-left: 1px;" width="11%">
                                <select-box disabled="{{line.is_locked}}" list="number" model="line.b_number_id" param="2" default="Любой номер"></select-box>
                            </td>
                            <td style="padding-bottom: 3px;padding-top: 3px;padding-right: 1px;padding-left: 1px;" width="11%">
                                <select-box disabled="{{line.is_locked}}" list="number" model="line.c_number_id" param="3" default="Любой номер"></select-box>
                            </td>
                            <td style="padding-bottom: 3px;padding-top: 3px;padding-right: 1px;padding-left: 1px;" width="11%">
                                <select-box disabled="{{line.is_locked}}" list="cpc" model="line.cpc_id" default="Любой CPC"></select-box>
                            </td>
                            <td style="padding-bottom: 3px;padding-top: 3px;padding-right: 1px;padding-left: 1px;" width="11%">
                                <select-box disabled="{{line.is_locked}}" list="headerRule" model="line.header_rule_id" default="Любой HeaderRule"></select-box>
                            </td>
                            <td style="padding-bottom: 3px;padding-top: 3px;padding-right: 1px;padding-left: 1px;" width="11%">
                                <outcome-select-box disabled="{{line.is_locked}}" outcome-model="line.outcome_id" route-table-model="line.outcome_route_table_id"></outcome-select-box>
                            </td>
                            <td style="padding-bottom: 3px;padding-top: 3px;padding-right: 1px;padding-left: 1px; min-width: 70px;" width="7%" ng-if="userPermissions['route_table_route_lock']">
                                <div class="btn-group" ng-click="line.is_locked = !line.is_locked">
                                    <button type="button" class="btn btn-sm {{line.is_locked ? 'btn-success active' : 'btn-default'}}">Да</button>
                                    <button type="button" class="btn btn-sm {{!line.is_locked ? 'btn-primary active' : 'btn-default'}}">Нет</button>
                                </div>
                            </td>
                            <td style="padding-bottom: 3px;padding-top: 3px;padding-right: 1px;padding-left: 1px; min-width: 70px;" width="7%" ng-if="userPermissions['route_table_route_lock']">
                                <div class="btn-group" ng-click="line.ac_mode = !line.ac_mode">
                                    <button type="button" class="btn btn-sm {{line.ac_mode ? 'btn-success active' : 'btn-default'}}">Да</button>
                                    <button type="button" class="btn btn-sm {{!line.ac_mode ? 'btn-primary active' : 'btn-default'}}">Нет</button>
                                </div>
                            </td>
                            <td style="padding-bottom: 3px;padding-top: 3px;padding-right: 1px;padding-left: 1px;" width="5%" ng-if="userPermissions['route_table_route_lock']">
                                <button ng-if="!line.is_locked" type="button" class="btn btn-danger btn-sm glyphicon glyphicon-minus" ng-click="removeRoute($index)"></button>
                            </td>
                            <td width="1%">
                                <comment-icon key="{{line.id}}" type="route_table_route" comment="line.object_comment"></comment-icon>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="7">
                                <button type="button" class="btn btn-success btn-xs" ng-click="addRoute()"><i class="glyphicon glyphicon-plus"></i> Добавить роут</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="tab-pane" id="route_route_rules_{{item.id}}">
                <div class="form-group">
                    <label class="col-sm-2 control-label">По умолчанию</label>
                    <div class="col-sm-10">
                        <div class="btn-group" ng-click="item.destination_route_rule_default_allowed = !item.destination_route_rule_default_allowed">
                            <button type="button" class="btn {{item.destination_route_rule_default_allowed ? 'btn-success active' : 'btn-default'}}">Разрешено</button>
                            <button type="button" class="btn {{!item.destination_route_rule_default_allowed ? 'btn-danger active' : 'btn-default'}}">Запрещено</button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Правила</label>
                    <div class="col-sm-10">
                        <table class="table table-striped">
                            <tbody ui-sortable="{axis: 'y'}" ng-model="item.routeRules">
                            <tr ng-repeat="line in item.routeRules">
                                <td width="5%">
                                    <button ng-if="line.allow" ng-click="line.allow = !line.allow" class="btn label label-success">Разрешено</button>
                                    <button ng-if="!line.allow" ng-click="line.allow = !line.allow" class="btn label label-danger">Запрещено</button>
                                </td>
                                <td width="5%" style="cursor: ns-resize">
                                    <span ng-if="line.trunk_group_id !== null">Группа&nbsp;транков:</span>
                                </td>
                                <td>
                                    <select-box list="trunkGroup" model="line.trunk_group_id" default="Любая группа"></select-box>
                                </td>

                                <td width="3%" style="cursor: ns-resize">
                                    <span ng-if="line.number_id_filter_a !== null">A:</span>
                                </td>
                                <td>
                                    <select-box list="number" model="line.number_id_filter_a" param="1" default="Любой номер"></select-box>
                                </td>

                                <td width="3%" style="cursor: ns-resize">
                                    <span ng-if="line.number_id_filter_b !== null">B:</span>
                                </td>
                                <td>
                                    <select-box list="number" model="line.number_id_filter_b" param="2" default="Любой номер"></select-box>
                                </td>

                                <td width="3%" style="cursor: ns-resize">
                                    <span ng-if="line.number_id_filter_c !== null">C:</span>
                                </td>
                                <td>
                                    <select-box list="number" model="line.number_id_filter_c" param="3" default="Любой номер"></select-box>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger btn-sm glyphicon glyphicon-minus" ng-click="removeRouteRule($index)"></button>
                                </td>
                                <td width="1%">
                                    <comment-icon key="{{line.id}}" type="route_table_rule" comment="line.object_comment"></comment-icon>
                                </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="11">
                                    <button type="button" class="btn btn-success btn-xs" ng-click="addRouteRule()"><i class="glyphicon glyphicon-plus"></i> Группа транков</button>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="pull-left">
            <button type="submit" class="btn btn-success" ng-disabled="form.$invalid || $root.isAjaxLoading || !isFormReady" ng-if="userPermissions['route_table_edit']" ng-click="save()">Сохранить</button>
            <button type="button" class="btn btn-default btn-sm" ng-click="back()">Закрыть</button>
            <action-log-view-button ng-if="item.id && userPermissions['action_log_view']" key="{{item.id}}" type="json/route-table" action="save"></action-log-view-button>
        </div>
    </div>

</form>
